@import "../../styles.scss";

.container {
  @extend %full-page-fixed;

  width: 100%;
  max-width: 100%;
  z-index: $max-zindex;
  background: $overlay-bg;
}

.loader {
  @extend %flex-center;

  height: 100%;
}
